<div id="mainteam">
<div class="team-section">
		<div class="inner-width">
      <h1 style="font-size: 5rem;color: #fd5c63;letter-spacing: 1px;font-weight: bold;text-decoration: none;">Meet our team </h1>
			<div class="pers">
				

				<div class="pe">
					<img src="../Images/img1.jfif" alt="rafeh">
					<div class="p-name">Jenny Roy</div>
					<div class="p-des">Director</div>
					<div class="p-sm">
						<a href="#"><i class="fa fa-facebook-f"></i></a>
						<a href="#"><i class="fa fa-twitter"></i></a>
						<a href="#"><i class="fa fa-instagram"></i></a>
					</div>
				</div>

				<div class="pe">
					<img src="../Images/img2.jfif" alt="rafeh">
					<div class="p-name">Devin Smith</div>
					<div class="p-des">Accountant</div>
					<div class="p-sm">
						<a href="#"><i class="fa fa-facebook-f"></i></a>
						<a href="#"><i class="fa fa-twitter"></i></a>
						<a href="#"><i class="fa fa-instagram"></i></a>	
					</div>
				</div>

				<div class="pe">
					<img src="../Images/img4.jfif" alt="rafeh">
					<div class="p-name">Mia Martin</div>
					<div class="p-des">Manager</div>
					<div class="p-sm">
						<a href="#"><i class="fa fa-facebook-f"></i></a>
						<a href="#"><i class="fa fa-twitter"></i></a>
						<a href="#"><i class="fa fa-instagram"></i></a>
					</div>
				</div>


			</div>
		</div>
	</div>
</div>