<footer class="footer-distributed">

	<div class="footer-left">

		<h3 style="text-decoration: underline;">HelpingHands</h3>

		<p class="footer-links">
			<a href="#main-home" class="link-1">Donate</a>
			<a href="#aboutus">About Us</a>
			<a href="#mainWrapper">Our Work</a>
			<a href="#mainteam">Our Team</a>
		</p>
        <p class="footer-company-name">HelpingHands &copy; 2021</p>
	</div>

	<div class="footer-center">

		<div>
			<i class="fa fa-map-marker"></i>
			<p><span>95 Express Towers 5th Floor</span> Andheri (E) Mumbai</p>
		</div>

		<div>
			<i class="fa fa-phone"></i>
			<p>1238765423</p>
		</div>

		<div>
			<i class="fa fa-envelope"></i>
			<p><a href="#">abc@support.com</a></p>
		</div>

	</div>

	<div class="footer-right">

		<p class="footer-company-about">
			<span>HelpingHands</span>
			

		</p>

		<div class="footer-icons">
			<a href="#"><i class="fa fa-linkedin"></i></a>
			<a href="#"><i class="fa fa-github"></i></a>

		</div>

	</div>

</footer>