<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" id="logo" href="/">HelpingHands</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto" style="margin-left: auto;">
        <li class="nav-item">
          <a class="nav-link text-dark" style="margin-right: 15px;" href="/">Donate </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" style="margin-right: 15px;" href="#aboutus"> About  </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" style="margin-right: 15px;" href="#mainWrapper"> Our Work  </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" style="margin-right: 15px;" href="#mainteam"> Our Team  </a>
        </li>


      </ul>

    </div>
  </nav>